<link rel="stylesheet" href="/css/user_profile.css">
<img id="profile-picture"src="<%= user.avatar %> " alt="<%=user.name%>" width="200px" height="200px" border-radius="50%" margin-top="10px">
<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>

<% if(user.id == profile_user.id){ %>
    <!-- if user mathces the show the form  -->
     <form action="/users/update/<%= profile_user.id%>"method="POST"  enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Your name" value="<%= profile_user.name %> " required>
        <input type="email" name="email" placeholder="Your email" value="<%= profile_user.email %> " required>
        <input type="file" name="avatar" placeholder="Profile Picture">
        <input type="submit" value="Update">
    </form>
<% }else{ %>
<!-- only show the profile info -->
<% } %>  